{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "meteor"
  ],
  "extends": [
    "airbnb",
    "plugin:meteor/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true,
    "meteor": true,
    "node": true
  },
  "rules": {
    "func-names": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",
    "meteor/eventmap-params": [
      2,
      {
        "eventParamName": "event",
        "templateInstanceParamName": "instance"
      }
    ],
    "meteor/template-names": [
      0
    ]
  },
  "settings": {
    "import/core-modules": [
      "meteor"
    ],
    "import/resolver": "meteor"
  }
}
